@page
@model _560Project.Pages.ConsolesModel
@{
    ViewData["Title"] = "Consoles";
}
<p>This shows all of the consoles.</p>
<form method="get">
    <input type="number" name="ConsoleIDFilter" placeholder="Filter by ConsoleID">
    <input type="text" name="ConsoleNameFilter" placeholder="Filter by ConsoleName">
    <input type="number" name="PublisherIDFilter" placeholder="Filter by PublisherID">
    <input type="number" name="UserRatingFilter" placeholder="Filter by UserRating">
    <input type="number" name="UnitPriceFilter" placeholder="Filter by UnitPrice">
    <button type="submit">Apply Filters</button>
</form>
<table class="table">
    <thead>
        <tr style="background-color: lightgreen">
            <th>ConsoleID</th>
            <th>ConsoleName</th>
            <th>PublisherID</th>
            <th>UserRating</th>
            <th>UserPrice</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var console in Model.listConsoles)
        {
            <tr style="background-color: lightseagreen">
                <td>@console.ConsoleID</td>
                <td>@console.ConsoleName</td>
                <td>@console.PublisherID</td>
                <td>@console.UserRating%</td>
                <td>$@console.UnitPrice</td>

            </tr>
        }
    </tbody>
</table>