@page
@model _560Project.Pages.GamesModel
@{
    ViewData["Title"] = "Games";
}
<p>This shows all of the games.</p>

<form method="get">
    <input type="number" name="GameIDFilter" placeholder="Filter by GameID">
    <input type="text" name="GameNameFilter" placeholder="Filter by GameName">
    <input type="number" name="PublisherIDFilter" placeholder="Filter by PublisherID">
    <input type="number" name="UserRatingFilter" placeholder="Filter by UserRating">
    <button type="submit">Apply Filters</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>GameID</th>
            <th>GameName</th>
            <th>PublisherID</th>
            <th>UserRating</th>
        </tr>
    </thead>
    <tbody>
@foreach (var game in Model.listGames)
{
    <tr>
        <td>@game.GameId</td>
        <td>@game.GameName</td>
        <td>@game.PublisherID</td>
        <td>@game.UserRating</td>
    </tr>
}
    </tbody>
</table>