@page
@model _560Project.Pages.GamesAndConsolesModel
@{
    ViewData["Title"] = "GamesAndConsoles";
}
<p>This shows the games with console information.</p>
<form method="get">
    <input type="number" name="GameConsoleIDFilter" placeholder="Filter by GameConsoleID">
    <input type="number" name="GameIDFilter" placeholder="Filter by GameID">
    <input type="number" name="ConsoleIDFilter" placeholder="Filter by ConsoleID">
    <input type="text" name="TitleFilter" placeholder="Filter by Title">
    <input type="number" name="UnitPriceFilter" placeholder="Filter by UnitPrice">
    <button type="submit">Apply Filters</button>
</form>
<table class="table">
    <thead>

        <tr style="background-color: lightgreen">
            <th>GameConsoleID</th>
            <th>GameID</th>
            <th>ConsoleID</th>
            <th>Title</th>
            <th>UnitPrice</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gameconsole in Model.listGameConsoles)
        {
            <tr style="background-color: lightseagreen">
                <td>@gameconsole.GameConsoleID</td>
                <td>@gameconsole.GameID</td>
                <td>@gameconsole.ConsoleID</td>
                <td>@gameconsole.Title</td>
                <td>$@gameconsole.UnitPrice</td>
            </tr>
        }
    </tbody>
</table>