@page
@model _560Project.Pages.InventoriesModel
@{
    ViewData["Title"] = "Inventory";
}
<p>This shows the inventory; the games and consoles, and the stores.</p>

<form method="get">
    <input type="number" name="InventoryIDFilter" placeholder="Filter by InventoryID">
    <input type="number" name="GameConsoleIDFilter" placeholder="Filter by GameConsoleID">
    <input type="number" name="StoreIDFilter" placeholder="Filter by StoreID">
    <input type="number" name="QuantityFilter" placeholder="Filter by Quantity">
    <button type="submit">Apply Filters</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>InventoryID</th>
            <th>GameConsoleID</th>
            <th>StoreID</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inventory in Model.listInventories)
        {
            <tr>
                <td>@inventory.InventoryID</td>
                <td>@inventory.GameConsoleID</td>
                <td>@inventory.StoreID</td>
                <td>@inventory.Quantity</td>
            </tr>
        }
    </tbody>
</table>
