@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site does not share any sensitive information. The purpose of this website is strictly to show information about the inventories of the game stores listed.
    We do not use cookies or similar technologies.
</p>
