@page
@model _560Project.Pages.PublishersModel
@{
    ViewData["Title"] = "Publishers";
}
<p>This shows all of the publishers.</p>
<form method="get">
    <input type="number" name="PublisherIDFilter" placeholder="Filter by PublisherID">
    <input type="text" name="PublisherNameFilter" placeholder="Filter by PublisherName">
    <button type="submit">Apply Filters</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>PublisherID</th>
            <th>PublisherName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var publisher in Model.listPublishers)
        {
            <tr>
                <td>@publisher.PublisherID</td>
                <td>@publisher.PublisherName</td>
            </tr>
        }
    </tbody>
</table>