@page
@model _560Project.Pages.StoresModel
@{
    ViewData["Title"] = "Stores";
}
<p>This shows all of the stores.</p>

<form method="get">
    <input type="number" name="StoreIDFilter" placeholder="Filter by StoreID">
    <input type="text" name="StoreNameFilter" placeholder="Filter by StoreName">
    <button type="submit">Apply Filters</button>
</form>
<table class="table">
<thead>
        <tr style="background-color: lightgreen">
        <th>StoreID</th>
        <th>StoreName</th>
    </tr>
</thead>
<tbody>
    @foreach (var store in Model.listStores)
    {
        <tr style="background-color: lightseagreen">
            <td>@store.StoreID</td>
            <td>@store.StoreName</td>
        </tr>
    }
</tbody>
</table>